<h1>Listing films</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Release day</th>
    <th>Plot</th>
    <th>Runtime</th>
    <th>Overview</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= film.name %></td>
    <td><%= film.release_day %></td>
    <td><%= film.plot %></td>
    <td><%= film.runtime %></td>
    <td><%= film.overview %></td>
    <td><%= link_to 'Show', film %></td>
    <td><%= link_to 'Edit', edit_film_path(film) %></td>
    <td><%= link_to 'Destroy', film, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Film', new_film_path %>
